* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 50%;
    margin: 0 auto;
    padding: 1rem 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
}

.refresh-geo {
    outline: none;
    border: none;
    background: #dae2ea;
    border-radius: 5px;
}

.refresh-text {
    color: #55677d;
    padding: 0 3rem;
    line-height: 1;
}

.refresh-icon {
    display: none;
}

.block {
    display: flex;
    justify-content: space-between;
}

.info-block {
    margin-top: 10px;
    width: calc(50% - 25px);
}

.space {
    min-width: 30%;
}

.city-flex {
    display: flex;
    align-items: center;
}

h3 {
    font-size: 40px;
    font-weight: 500;
    margin: 0;
    color: #6e797e;
}

.current-temperature {
    font-size: 6rem;
    color: #9FA5A7;
}

.row-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 10px;
    padding: 2rem 0;
    color: #6e797e;
}

.weather-large-icon {
    width: 7rem;
}

h4 {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

.temperature {
    font-size: 26px;
    font-weight: bolder;
}

.weather-small-icon {
    height: 4rem;
}

.input-block {
    display: flex;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block-title {
    font-size: 36px;
    min-width: 30%;
    color: #6e797e;
}

.input-form {
    background: #f1f1f1;
    outline: none;
    border: none;
    height: 2.5rem;
    width: 15rem;
    padding-left: 1rem;
    border-radius: 5px;
}

.round-btn {
    display: flex;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background: #708188;
    border-radius: 50%;
    color: #fff;
}

.remove-btn {
    font-size: 0.7rem;
}

.add-btn {
    font-size: 1rem;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 0.4rem;
    background: #a7afb1;
    font-size: 12px;
    margin-top: 5px;
}

.row:first-child {
    margin-top: 0;
}

.row-title {
    font-weight: bolder;
    color: #fff;
}

.row-text {
    color: #dbe2e6;
}

.mt-1rem {
    margin-top: 1rem;
}

.mt-2rem {
    margin-top: 2rem;
}

.mr-2rem {
    margin-right: 2rem;
}

@media only screen and (max-width: 1440px) {
    .wrapper {
        width: 75%;
    }
}

@media only screen and (max-width: 1024px) {
    .wrapper {
        width: 100%;
    }

    .refresh-text {
        display: none;
    }

    .refresh-icon {
        display: block;
        width: 3rem;
    }

    .space {
        display: none;
    }

    .block {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .info-block {
        width: 100%;
        flex: 0 100%;
        box-sizing: border-box;
    }

    .info-block:nth-child(2n) {
        margin-left: 0;
    }

    h4 {
        font-size: 24px;
        font-weight: bold;
    }

    .input-block {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .search {
        margin-top: 1rem;
        width: 100%;
    }

    .input-form {
        width: 100%;
    }
}

